.body-color {
  background: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
}
.body-color h1,
.body-color h2 {
  border-bottom: 2px solid #f4f4f4;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
